:root[theme="light"] {
    --color-bg: hsl(0, 0%, 95%);
    --color-text: hsl(0, 0%, 27%);
    --color-svg: hsl(102, 49%, 51%);
    --color-title: hsl(102, 49%, 51%);
    --color-panel: hsl(0, 0%, 95%);
    --color-border: hsl(0, 0%, 90%);
    --color-card-bg: hsl(0, 0%, 98%);
    --color-selected-svg: hsl(208, 100%, 38%);
    --color-search-strong: hsl(182, 25%, 50%);
}

:root[theme="dark"] {
    --color-bg: hsl(0, 0%, 15%);
    --color-text:hsl(20, 9%, 94%);
    --color-svg: hsl(102, 49%, 51%);
    --color-title: hsl(102, 49%, 51%);
    --color-border: hsl(0, 0%, 20%);
    --color-card-bg: hsl(0, 0%, 20%);
    --color-panel: hsla(0, 0%, 27%, 0.93);
    --color-selected-svg: hsl(184, 26%, 51%);
    --color-search-strong: hsl(26, 100%, 43%);
}
