/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/* RESET */
@import url('reset.css');
/* COLORS */
@import url('colors.css');
/*  */
/* SITE STYLES */
html {
    font-size: 62.5%;
    scroll-behavior: 'smooth';
}

body {
    display: grid;
    min-height: 100dvh;
    color: var(--color-text);
    grid-template-rows: auto 1fr;
    background-color: var(--color-bg);
    font: 400 normal 1.5rem/2rem 'Alegreya Sans', 'san serif';
}

button {
    background-color: transparent;
    transition: all .4s ease-in;
    appearance: none;
    cursor: pointer;
    outline: none;
    border: none;
}

svg {
    vector-effect: non-scaling-stroke;
}

svg:not(.exclude) {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    fill: var(--color-svg)!important;
    stroke: var(--color-svg) !important;
}

bxs-svg {pointer-events: none;}

.container {
    margin: 0 auto;
    width: 90dvw;
    max-width: 1500px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.30);
}

body>header {
    top: 0;
    z-index: 1;
    gap: .3em;
    display: grid;
    position: sticky;
    grid-auto-rows: 1fr;
    align-items: center;
    padding: 1rem .55rem;
    background: var(--color-bg);
    justify-content: space-between;
    grid-template-columns: auto 1fr auto;

    >a {
        display: flex;
        gap: .5em;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-title);
    }

    >[type=toolbar] {
        grid-area: 1 / 3;
    }

    >form {
        z-index: 2;
        margin: auto;
        width: 100%;
        position: relative;
        grid-area: 2 /1 / span 2 / span 3;

        >.input-group {
            display: flex;
            z-index: 2;
            gap: .1em;
            overflow: hidden;
            align-items: center;
            border-radius: 50px;
            justify-content: space-between;
            background-color: var(--color-card-bg);

            >input[type='search'] {
                background-color: transparent;
                transition: all .3s ease-in;
                padding: .8em 1.5em;
                font-family: inherit;
                font-size: 1.5rem;
                border: none;
                outline: none;
                flex: 1;

                &:focus {
                    opacity: .5;
                    color: var(--color-text);
                }
            }

            >button {
                scale: .7;
                margin: auto .5rem;
                transition: scale .5s ease;

                &:hover {
                    scale: .5;
                }
            }
        }

        >#sPanelResult,
        >#sPanelFilter {
            position: absolute;
            width: 100%;
            height: 0;
            margin: 0;
            z-index: 1;
            padding: 0;
            overflow: hidden;
            margin-top: 1.1rem;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: var(--color-panel);
        }

        >#sPanelResult {
            p {
                padding: 2em;
            }

            #sPanelData {
                max-height: 300px;
                overflow-y: auto;
            }

            #sPanelLoading {
                right: 0;
                gap: 1em;
                bottom: 0;
                opacity: 0;
                display: flex;
                position: absolute;
                align-items: center;
                padding: 1rem 2rem;
                color: var(--color-title);
                border-top-left-radius: 50px;
                justify-content: space-between;
                background-color: hsla(0, 0%, 0%, 0.2);
            }

            >ul {
                overflow-y: auto;
                max-height: 300px;
                list-style-type: none;

                li {
                    width: 100%;
                    background-color: hsla(0, 0%, 100%, 0.6);
                    border-bottom: 1px solid hsl(0, 0%, 93%);
                }

            }

            a {
                display: block;
                color: var(--color-text);
                text-decoration: none;

                &:hover {
                    background-color: hsla(0, 0%, 0%, 0.067);
                }
            }

            figure {
                padding: 2%;
                margin: 0;
                gap: 2em;
                display: flex;

                header {
                    display: flex;
                    gap: 1em;
                    flex-flow: wrap;
                    align-items: center;

                    h1 {
                        font-size: 1.3em;
                        margin: 5px 0;
                    }

                    sup {
                        font-size: 10px;
                    }

                }

                lazy-image {
                    flex: 1;
                    min-width: 100px;
                    max-width: 120px;
                    min-height: 100px;
                    max-height: 120px;
                    ;
                    border-radius: 8px;
                }

                figcaption {
                    flex: 3;

                    div {
                        display: flex;
                        flex-flow: wrap;
                        gap: 1em;
                        align-items: center;
                    }

                    table {
                        display: none;
                    }

                    strong {
                        color: var(--color-search-strong);
                    }
                }
            }

            button#closeSPanelBtn {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 16px;
                height: 16px;
                display: flex;
                color: white;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: red;
                border: 2px solid red;
                transition: all .6s ease-in-out;

                &:hover {
                    scale: .9;
                }

                &:active {
                    scale: .5;
                }
            }
        }

        >#sPanelFilter {
            gap: 1em;
            display: grid;
            color: var(--color-text);
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

            label {
                margin: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            select {
                width: 100%;
                outline: none;
                min-width: 100px;
                margin-left: 5px;
                padding: 8px 10px;
                font-family: inherit;
                border-radius: 50px;
                color: var(--color-text);
                border: 1px solid var(--color-border);
                background-color: hsla(0, 0%, 0%, 0.067);
            }

            option {
                background-color: var(--color-card-bg);
            }
        }
    }
}

body>app-router {
    >aside {
        >menu {
            top: 80px;
            gap: 2em;
            display: flex;
            width: 4.5rem;
            position: sticky;
            margin: 0 .5em;
            padding: 2em 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            a {
                width: 100%;
                display: flex;
                height: 4rem;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                &:last-child {
                    margin-top: auto;
                }

                &:active {
                    scale: .8;
                }
                &:hover {
                    opacity: .6;
                    background: var(--color-card-bg);
                }

                &.active {
                    position: relative;
                    border-radius: 5px;
                    background: var(--color-card-bg);

                    &::after {
                        position: absolute;
                        content: '';
                        width: 40%;
                        bottom: -2px;
                        height: .3em;
                        border-radius: 50px;
                        background-color: var(--color-title);
                    }
                }
            }
        }
    }

    >main {
        overflow-y: auto;
        border-top-left-radius: 10px;
        border: 1px solid var(--color-border);
        background-color: var(--color-card-bg);

        >article {
            display: grid;
            height: 100%;
            gap: 1em;
            user-select: none;
            grid-auto-rows: auto;
            grid-template-columns: 100%;
            grid-template-rows: 40em auto;

            >section {
                position: relative;

                >header {
                    margin: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body>header {
        &>form {
            width: 60%;
            grid-area: 1 / 2 / 1 / span 2;

            &>#sPanelResult {
                & figure {
                    & figcaption {
                        table {
                            display: table;
                        }
                    }
                }
            }
        }
    }
}
