/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
/* RESET */
@import url('reset.css');
/* COLORS */
@import url('colors.css');
/*  */
/* SITE STYLES */
html {
    font-size: 62.5%;
}

body {
    min-height: 100dvh;
    background-color: var(--color-bg);
    font: 400 normal 1.5rem/2rem 'Alegreya Sans', 'san serif';
}

button {
    background-color: transparent;
    transition: all .4s ease-in;
    appearance: none;
    cursor: pointer;
    outline: none;
    border: none;
}

svg {
    vector-effect: non-scaling-stroke;
}

svg:not(.exclude) {
    width: 2rem;
    height: 2rem;
    fill: var(--color-svg);
    stroke: var(--color-svg);
}

.container {
    margin: 0 auto;
    width: 90dvw;
    max-width: 1500px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.067);
}

body>header {
    display: grid;
    gap: .3em;
    grid-auto-rows: 1fr;
    align-items: center;
    padding: 1rem .55rem;
    justify-content: space-between;
    grid-template-columns: auto 1fr auto;
    >a {
        display: flex;
        gap: .5em;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-title);
    }
    >[type=toolbar]{ grid-area: 1 / 3;}
}
